<div class="app-container" *ngIf="!showNavigation">
  <router-outlet></router-outlet>
</div>

<div class="app-container with-nav" *ngIf="showNavigation">
  <mat-toolbar color="primary" class="app-toolbar">
    <span>Library Admin Panel</span>
    <span class="spacer"></span>
    <div class="user-info" *ngIf="currentUser$ | async as user">
      <!-- <span>{{ user.firstName }} {{ user.lastName }}</span> -->
      <button mat-icon-button (click)="logout()" matTooltip="Logout">
        <mat-icon>logout</mat-icon>
      </button>
    </div>
  </mat-toolbar>

  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav mode="side" opened class="sidenav">
      <mat-nav-list>
        <a mat-list-item *ngFor="let item of menuItems" [routerLink]="item.path" routerLinkActive="active">
          <mat-icon matListItemIcon>{{ item.icon }}</mat-icon>
          <span matListItemTitle>{{ item.label }}</span>
        </a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content class="main-content">
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
